<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>个人简历管理系统</title>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <script src="node_modules/jquery/dist/jquery.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="cont">
            <h2 class="title_box">个人简历管理系统</h2>
            <form role="form" action="/registernew" method="POST" onsubmit="return ifnull()">
                <input type="text" id="id" style="display: none;"  name="id">
                <div class="row">
                <div class="form-group col-md-6">
                 <label for="name">姓名：</label>
                 <input type="text" style="position: relative;" class="form-control" id="name" name="name" placeholder="请输入名称">
                </div>
                <div class="form-group col-md-6">
                    <label for="email">邮箱：</label>
                    <input type="email" style="position: relative;" class="form-control" id="email" name="email" placeholder="请输入邮箱">
                   </div>
                </div>
                <div class="row">
                  <div class="form-group col-md-6">
                   <label for="pwd">密码：</label>
                   <input type="password" style="position: relative;" class="form-control" id="pwd"  placeholder="请输入密码">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="pwds">确认密码：</label>
                      <input type="password" style="position: relative;" class="form-control" id="pwds" name="password" placeholder="请再一次输入密码">
                     </div>
                  </div>
                <div class="row">
                    <div class="form-group col-md-6">
                     <label for="sex">性别：</label><br>
                     <label class="radio-inline">
                        <input type="radio" name="sex" id="optionsRadios3"  value="0">男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="sex" id="optionsRadios4" value="1">女
                    </label>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="age">年龄：</label>
                        <input type="number" class="form-control" id="age" name="age" placeholder="请输入年龄">
                       </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                         <label for="education">学历：</label>
                         <input type="text" class="form-control" id="education" name="education" placeholder="请输入学历">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="graduate">毕业院校：</label>
                            <input type="text" class="form-control" id="graduate" name="graduate" placeholder="请输入毕业院校">
                           </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                             <label for="phone">电话：</label>
                             <input type="tel" class="form-control" id="phone" name="phone" placeholder="请输入电话号码">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="position">应聘职位：</label>
                                <input type="text" class="form-control" id="position" name="position" placeholder="请输入应聘职位">
                               </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label for="major">专业：</label>
                                    <input type="text" class="form-control" id="major" name="major" placeholder="请输入毕业院校">
                                   </div>
                                </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="course"><strong>主修课程：</strong></label>
                                <textarea  class="form-control" rows="3" name="course" id="course"></textarea>
                               </div>
                        </div>
                        
      
       
                            <button type="button" class="btn btn-outline-dark" >重置</button>
                            <button type="submit" class="btn btn-outline-dark">注册</button>
        </form>
        </div>
        
      </div>

      <script src="/public/js/register.js"></script>
      <script>
        //   //异步验证用户名是否重复
        //    $("#name").blur(function(){
        //         var name = $("#name").val()
        //         console.log(name)
        //         $.ajax({
        //                   url:'/registernewajax',
        //                   type:'post',
        //                  data:name,
        //                  dataType:'json',
        //                  success:function(data){
        //                      names = data.registerData.name
        //                      var strnew = names.length+1
        //                      $("#id").val(strnew)
        //                      console.log(strnew)
        //                      console.log(names)
        //                     for(var i=0;i<names.length;i++){
        //                         if(names[i] == name){
        //                             $("#name").css({"border-color":"red"})
        //                             $("#name").animate({"right":"15px"},500,function(){
        //                            $("#name").animate({"left":"15px"},500,function(){
        //                               $("#name").animate({"left":"0px"},500)
        //                                 })
        //                               })
        //                               $("#name").val('')
        //                               $("#name").focus()
                       
        //                             return
        //                         }else{
        //                             $("#name").css({"border-color":"#ced4da"})
        //                         }
        //                     }
                            
        //                  }
        //             })
        //         })
        //  //异步验证邮箱是否重复
        //    $("#email").blur(function(){
        //         var email = $("#email").val()
        //         console.log(email)
        //         $.ajax({
        //                   url:'/registernewajax',
        //                   type:'post',
        //                  data:email,
        //                  dataType:'json',
        //                  success:function(data){
        //                     emails = data.registerData.email
            
    
        //                      console.log(emails)
        //                     for(var i=0;i<emails.length;i++){
        //                         if(emails[i] == email){
        //                             $("#email").css({"border-color":"red"})
        //                             $("#email").animate({"right":"15px"},500,function(){
        //                            $("#email").animate({"left":"15px"},500,function(){
        //                               $("#email").animate({"left":"0px"},500)
        //                                 })
        //                               })
        //                               $("#email").val('')
        //                               $("#email").focus()
                       
        //                             return
        //                         }else{
        //                             $("#email").css({"border-color":"#ced4da"})
        //                         }
        //                     }
                            
        //                  }
        //             })
        //         })
        //     //异步验证密码是否重复   
        //    $("#pwd").blur(function(){
        //         var pwd = $("#pwd").val()
        //         console.log(pwd)
        //         $.ajax({
        //                   url:'/registernewajax',
        //                   type:'post',
        //                  data:pwd,
        //                  dataType:'json',
        //                  success:function(data){
        //                     passwords = data.registerData.password
            
    
        //                      console.log(passwords)
        //                     for(var i=0;i<passwords.length;i++){
        //                         if(passwords[i] == pwd){
        //                             $("#pwd").css({"border-color":"red"})
        //                             $("#pwd").animate({"right":"15px"},500,function(){
        //                            $("#pwd").animate({"left":"15px"},500,function(){
        //                               $("#pwd").animate({"left":"0px"},500)
        //                                 })
        //                               })
        //                               $("#pwd").val('')
        //                               $("#pwd").focus()
                       
        //                             return
        //                         }else{
        //                             $("#pwd").css({"border-color":"#ced4da"})
        //                         }
        //                     }
                            
        //                  }
        //             })
        //         })
        //     //验证两次密码是否一致
        //     $("#pwds").blur(function(){
        //         var pwd = $("#pwd").val()
        //         var pwds = $("#pwds").val()
        //         if(pwd != pwds){
        //             $("#pwds").css({"border-color":"red"})
        //             $("#pwds").animate({"right":"15px"},500,function(){
        //                     $("#pwds").animate({"left":"15px"},500,function(){
        //                     $("#pwds").animate({"left":"0px"},500)
        //                     })
        //                 })
        //                 $("#pwds").val('')
        //             return
        //         }else{
        //                 $("#pwds").css({"border-color":"#ced4da"})
        //             }
        //         })
        //     //判断提交数据是否为空
        //     function ifnull(){
        //         if($("#name").val() !=""&&
        //             $("#email").val() !=""&&
        //             $("#pwd").val() !=""&&
        //         $("#pwds").val() !=""&&
        //         $("#age").val() !=""&&
        //         $("#education").val() !=""&&
        //         $("#graduate").val() !=""&&
        //         $("#phone").val() !=""&&
        //         $("#position").val() !=""&&
        //         $("#major").val() !=""&&
        //         $("#course").val() != ""){
        //             return true
        //                 }else{
        //                     alert('注册内容不能为空，请完善注册信息')
        //                     return false
        //                 }
        //     }
      
      
                //   $('#register_form').on('submit',function(e){
        //         e.preventDefault()
        //         var formData = $(this).serialize()
        //         console.log(formData)
        //         if($("#name").val() !=""&&
        //             $("#email").val() !=""&&
        //             $("#pwd").val() !=""&&
        //         $("#pwds").val() !=""&&
        //         $("#age").val() !=""&&
        //         $("#education").val() !=""&&
        //         $("#graduate").val() !=""&&
        //         $("#phone").val() !=""&&
        //         $("#position").val() !=""&&
        //         $("#major").val() !=""&&
        //         $("#course").val() != ""){

        //             $.ajax({
        //                   url:'/registernew',
        //                   type:'post',
        //                  data:formData,
        //                  dataType:'json',
        //                  success:function(data){
        //                         console.log(data)
        //                  }
        //             })
        //         }else
        //         {

                    
        //     var htmlobj=$.ajax({url:"/public/db/db.json",async:false});
        //     var dt =htmlobj.responseJSON;
        //     console.log(dt)
        //     var strnew = dt.user.length+1
        //     $("#id").val(strnew)
           
         
        //       $("#name").blur(function(){
        //         var name = $("#name").val()
        //         console.log(name)
        //         for(var i=0;i<dt.user.length;i++){
        //             if(dt.user[i].name == name){
        //                 $("#name").css({"border-color":"red"})
        //                 $("#name").animate({"right":"15px"},500,function(){
        //                     $("#name").animate({"left":"15px"},500,function(){
        //                     $("#name").animate({"left":"0px"},500)
        //                     })
        //                 })
        //                 $("#name").val('')
        //                 $("#name").focus()
        //                 return
        //             }else{
        //                 $("#name").css({"border-color":"#ced4da"})
        //             }
        //         }
        //         })
        //      $("#email").blur(function(){
        //         var email = $("#email").val()
        //         console.log(email)
        //         for(var i=0;i<dt.user.length;i++){
        //             console.log(dt.user[i].personal.email)
        //             if(dt.user[i].personal.email == email){
        //                 $("#email").css({"border-color":"red"})
        //                 $("#email").animate({"right":"15px"},500,function(){
        //                     $("#email").animate({"left":"15px"},500,function(){
        //                     $("#email").animate({"left":"0px"},500)
        //                     })
        //                 })
        //                 $("#email").val('')
        //                 $("#email").focus()
        //                 return
        //             }else{
        //                 $("#email").css({"border-color":"#ced4da"})
        //             }
        //         }
        //         })
        //         $("#pwd").blur(function(){
        //         var pwd = $("#pwd").val()
        //         console.log(pwd)
        //         for(var i=0;i<dt.user.length;i++){
        //             if(dt.user[i].password == pwd){
        //                 $("#pwd").css({"border-color":"red"})
        //                 $("#pwd").animate({"right":"15px"},500,function(){
        //                     $("#pwd").animate({"left":"15px"},500,function(){
        //                     $("#pwd").animate({"left":"0px"},500)
        //                     })
        //                 })
        //                 $("#pwd").val('')
        //                 $("#pwd").focus()
        //                 return
        //             }else{
        //                 $("#pwd").css({"border-color":"#ced4da"})
        //             }
        //         }
        //         })

        //         $("#pwds").blur(function(){
        //         var pwd = $("#pwd").val()
        //         var pwds = $("#pwds").val()
        //         if(pwd != pwds){
        //             $("#pwds").css({"border-color":"red"})
        //             $("#pwds").animate({"right":"15px"},500,function(){
        //                     $("#pwds").animate({"left":"15px"},500,function(){
        //                     $("#pwds").animate({"left":"0px"},500)
        //                     })
        //                 })
        //                 $("#pwds").val('')
        //                 $("#pwds").focus()
        //             return
        //         }else{
        //                 $("#pwds").css({"border-color":"#ced4da"})
        //             }
        //         })
        //     }
        //     })



            
        
      </script>
</body>
</html>